@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --max-width: 1440px;

  /* ===== COLORS ===== */
  --color-dark-blue: hsl(209, 23%, 22%);
  --color-very-dark: hsl(207, 26%, 17%);
  --color-very-dark-blue: hsl(200, 15%, 8%);
  --color-dark-gray: hsl(0, 0%, 52%);
  --color-very-ligth-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);

  /* ===== FONT SIZE ===== */
  --fs-homepage-items: 14px;
  --fs-detail-size: 16px;

  /* ===== HEADER HEIGHT ===== */
  --header-height: 80px;
}

body {
  font-family: "Nunito Sans", sans-serif;
  margin-top: var(--header-height);
  margin-bottom: 5rem;
  background-color: var(--color-very-ligth-gray);
}

/* ===== ESTILOS GENERALES ===== */
a {
  text-decoration: none;
  color: black;
}

button,
input,
select {
  outline: none;
  border: none;
  background-color: transparent;
}

.width-container {
  max-width: var(--max-width);
  width: calc(100% - 2em);
  margin: 0 auto;
}

/* ===== HEADER ===== */

header {
  width: 100%;
  background-color: white;
  box-shadow: 0 0 10px 0 rgba(177, 177, 177, 0.425);
  position: fixed;
  top: 0;
}

.header-container {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-container h1 {
  font-size: 1.1em;
}

/* ===== SEARCH AND FILTER ===== */
main {
  margin-top: 2em;
}

.search-and-filter {
  display: flex;
  flex-direction: column;
  gap: 2.2em;
  margin-top: 6.8em;
}

.search-input-container {
  width: 100%;
  max-width: 28em;
  background-color: white;
  box-shadow: 0 0 5px rgba(128, 128, 128, 0.24);
  padding: 0 1em 0 1.5em;
  border-radius: 0.3em;
  display: flex;
  align-items: center;
}

.search-input-container input {
  margin-left: 1em;
  font-size: 0.9em;
  width: 100%;
  padding: 1em 0;
}
.search-input-container input::placeholder {
  color: var(--color-dark-gray);
}

.filter-countries {
  width: 15em;
  background-color: white;
  box-shadow: 0 0 5px rgba(128, 128, 128, 0.24);
  padding: 1em 1em 1em 1.5em;
  border-radius: 0.3em;
}

@media screen and (min-width: 768px) {
    .search-and-filter {
        flex-direction: row;
        justify-content: space-between;
    }
}

/* ===== COUNTRIES ===== */

.countries-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 2em;
  margin-top: 2.3em;
  padding: 0 2em;
  font-size: 15px;
}

@media screen and (min-width: 768px) {
  .countries-container {
    gap: 3em;
  }
}
@media screen and (min-width: 1200px) {
  .countries-container {
    grid-template-columns: repeat(4, minmax(16em, 1fr));
    gap: 3em;
  }
}

.country {
  background-color: white;
  box-shadow: 0 0 5px rgba(128, 128, 128, 0.24);
  border-radius: 0.3em;
  overflow: hidden;
}

.country-img {
  width: 100%;
}

.country-info {
  padding: 1.5em 1.5em 2.5em 1.5em;
}

.country-name {
  padding-bottom: 0.9em;
}

.country-detail {
  font-size: 14px;
  padding-bottom: 0.25em;
}
.country-detail b {
  font-weight: 600;
}
